
# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Database
db.sqlite3

# Virtualenv
.venv/
env/

# Node
node_modules/
static/app.js

# Editor / OS
.vscode/
.idea/
.DS_Store
.pytest_cache/
.env

